

{% extends 'partials/base.html' %}
{% load static %}
{% block title %} <title> Categories</title> {% endblock %}
{% block content %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>All Categories</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'core:home' %}">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                       
                        <div class="blog__sidebar__item">
                            <h4>{{categories.count }} Categories</h4>
                            <ul>
                                {% for c in categories  %} 
                                <li><a href="{% url 'core:category-product-list' c.cid %}">{{c.title}}          ({{c.category.all.count }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            
                        </div>
                        <div class="blog__sidebar__item">
                            <!-- <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                {% for tag in product.tags.all %}
                                <a href="{% url 'core:tags' tag.slug %}" rel="tags"> {{ tag.name }} </a> 
                              {% endfor %}
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {% for c in categories %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                   <a href="{% url 'core:category-product-list' c.cid %}"><img src="{{ c.image.url }}" alt=""></a>
                                </div>
                                <div class="blog__item__text">

                                    <h5><a href="#">{{ c.title }}</a></h5>
                                    <div>
                                        <span class="hit-count mr-10 ">
                                          {{c.category.count}} Product{{c.category.count|pluralize}}  
                                        </span>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}