
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}  {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
<!-- j query -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <!-- log in -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- register -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> 
     
</head>


<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
    <a href="#"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span></span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span class="cart-items-count">{{ request.session.cart_data_obj|length }}</span></a></li>
            <script>
             </script>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="{% static 'asstes/img/language.png' %}" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Kiswali</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> doughlas8@gmail.com@.com</li>
            <li>  Free Shipping for all Order of $99</li>
        </ul>
    </div>
    
</div>


<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <!-- <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> githuiddoughlas8@gmail.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_authens:sign-in' %}"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <!-- <a href="./index.html">ORGANIC</a> -->
                </div>
            </div>
            <div class="col-lg-9">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="#">Category</a>
                            <ul class="header__menu__dropdown">
                             {% for c in categories  %}   
                                <li><a href="{% url 'core:category-product-list' c.cid %}"> {{c.title}}</a></li>
                            {% endfor %} 
                            <hr>
                            <li><a href="{% url 'core:category-list'%}">All Category</a></li> 
                            </ul>
                        </li>
                        <li><a href="{% url 'core:product-list' %}">Shop</a></li>
                       
                    

                     
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                               
                                <li><a href="{% url 'core:product_list_ui' %}">Product List</a></li>
                            {% else %}
                                
                                <li><a href="{% url 'core:product-cart' %}">Make an Order</a></li>
                            {% endif %}
                        {% else %}
                                
                                <li><a href="{% url 'user_authens:sign-in' %}">Login</a></li>
                        {% endif %}

                    
                        
                       
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'user_authens:sign-out'%}"> <i class="fas fa-sign-out"></i> Sign Out</a></li>
                            {% else %}
                            <li><a href="{% url 'user_authens:sign-in'%}"> <i class="fas fa-sign-in"></i> Sign in</a></li>
                            {% endif %}
                        
                 
            
                    </ul>
                </nav>
            </div>
            
            <!-- <div class="col-lg-2">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span></span></a></li>
                        <li><a href=""><i class="fa fa-shopping-bag cart-items.count"></i> <span>{{ request.session.cart_data_obj|length }}</span></a></li>
                        
                    </ul>
                    
                </div>
            </div> -->
            
              
              <div class="dropdown-content">
                
              </div>
        </div>
        {% if  messages %} 
        <div>
            {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        <strong>{{ message }}</strong>
    </div>
        {% endfor %}
    </div>
    {% endif %} 
    <script>
        setTimeout (()=>{
            $(".alert").alert("close")
        }, 3000)
    </script>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->