

<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Thank you for your order!</h2>
    <p>Dear {{ user.username }},</p>
    <p>We have received your order with the following details:</p>
    <ul>
        <li><strong>Order ID:</strong> {{ order.id }}</li>
        <li><strong>Order Date:</strong> {{ order.created_at }}</li>
        <li><strong>Shipping Address:</strong> {{ order.address }}</li>
        <li><strong>Shipping Method:</strong> {{ order.shipping_method }}</li>
    </ul>
    <h3>Order Items:</h3>
    <ul>
        {% for item in order_items %}
        <li>{{ item.product.title }} x {{ item.quantity }} - {{ item.total }}</li>
        {% endfor %}
    </ul>
    <p><strong>Total Amount: <span>Ksh</span>{{ order.total_amount }}</strong></p>
    <p>We will process your order and notify you once it's shipped.</p>
    <p>Thank you for shopping with us!</p>
    <p>Best regards,<br>Your Shop Team</p>
</body>
</html>
