
{% extends 'partials/base.html' %}
{% load static %}
{% block title %} <title> Products</title> {% endblock %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'core:home' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                {% for c in categories %}
                                <li>
                                    <label for="category-fresh-meat">
                                        <input type="checkbox" data-filter="category" class=" filter-checkbox" value="1">
                                       <a href="{% url 'core:category-product-list' c.cid %}"> {{c.title}}</a> 
                                        
                                    </label>
                                </li>
                            {% endfor %}
                              
                            </ul>
                        </div>
                    
                        <!-- Price, Vendors, Tags, and other sections remain the same -->
                    
                    </div>
                    
                    <div class="sidebar__item">
                       
                    </div>
                    <div class="sidebar__item sidebar__item__vendor--option">
                        <h4>Vendors</h4>
                        {% for v in vendors %}
                        <div class="sidebar__item__vendor sidebar__item__vendor--vendor1">
                            <label for="vendor1">
                                {{v.title}}
                                <input type="checkbox" class="  filter-checkbox" data-filter="vendor" value="1" >
                            </label>
                        </div>
                        {% endfor %}
                       
                    </div>
                    
                     <div class="sidebar__item">
                        <h4>Tags</h4>
                        <div class="sidebar__item__tag">
                            <span>
                                {% for tag in tags %}
                                    <a href="{% url 'core:tags' tag.slug %}" rel="tags"> {{ tag.name }} </a>
                                {% endfor %}
                            </span>
                        </div>
</div> 

                    
    <div class="sidebar__item">
                        
    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title text-center mb-4">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for p in product %}
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <div class="card product__discount__item border-0">
                                    <!-- Product Image -->
                                    <div class="product__discount__item__pic card-img-top position-relative" style="background-image: url('{{ p.image.url }}'); height: 250px; background-size: cover; background-position: center;">
                                        <!-- Discount Badge -->
                                        <div class="position-absolute top-0 start-0 bg-danger text-white py-1 px-2 fw-bold rounded-pill">
                                            <span>-{{ p.get_percentage|floatformat:0 }}%</span>
                                        </div>
                                        <!-- Hover Icons -->
                                        <ul class="product__item__pic__hover">
                                            <li><a href="{% url 'core:pro-details' p.pid %}"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="{% url 'core:pro-details' p.pid %}"><i class="fa fa-retweet"></i></a></li>
                                            <input type="hidden" value="1" id="product-quantity" class=" product-quantity-{{p.id}}">
                                            <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                            <input type="hidden" class="product-image-{{p.id}}" value="{{ p.image.url }}">
                                            <input type="hidden" class="product-id-{{p.id}}" value="{{p.id}}">
                                            <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                                            <li><button class="btn add-to-cart-btn " data-index="{{p.id}}" id="add-to-cart-btn"><i class="fa fa-shopping-cart"></i></button></li>
                                        </ul>
                                    </div>
                                    <!-- Product Info -->
                                    <div class="card-body p-3">
                                        <p class="text-muted small">{{ p.Category }}</p>
                                        <h5><a href="{% url 'core:pro-details' p.pid %}" class="text-dark">{{ p.title }}</a></h5>
                                        <div class="d-flex align-items-center">
                                            <!-- Rating -->
                                             <div class="product__details__rating me-2">
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star-half-o text-warning"></i>
                                            </div>
                                            <span>(18 reviews)</span> 
                                        </div>
                                        <p class="small text-muted">{{ p.vendor }}</p>
                                        <div class="d-flex justify-content-center align-items-center gap-2">
                                            <del>Ksh {{ p.old_price }}</del>
                                            <div class="product-price">
                                                <span class="product__item__price ">Ksh</span><span class="current-product-price-{{p.id}}">{{ p.price }}</span>
                                            </div>
                                            <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                                          </div>
                            
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                          
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <p>We found <strong class="text-brand " >{{product.count}}</strong> item{{product.count|pluralize}} for you..</p>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  
                        {% for p in product %}
                        <div class="col-lg-4 col-md-4 col-sm-12 mb-4"> <!-- 3 products per row on large screens -->
                            <div class="card product__discount__item border-0">
                                <!-- Product Image -->
                                <div class="product__discount__item__pic card-img-top position-relative" 
                                    style="background-image: url('{{ p.image.url }}'); height: 250px; background-size: cover; background-position: center;">
                                    <!-- Discount Badge -->
                                    <div class="position-absolute top-0 start-0 bg-danger text-white py-1 px-2 fw-bold rounded-pill">
                                        <span>-{{ p.get_percentage|floatformat:0 }}%</span>
                                    </div>
                                    <!-- Hover Icons -->
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'core:pro-details' p.pid %}"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="{% url 'core:pro-details' p.pid %}"><i class="fa fa-retweet"></i></a></li>
                                        <input type="hidden" value="1" id="product-quantity" class=" product-quantity-{{p.id}}">
                                        <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                        <input type="hidden" class="product-image-{{p.id}}" value="{{ p.image.url }}">
                                        <input type="hidden" class="product-id-{{p.id}}" value="{{p.id}}">
                                        <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                                        <li><button class="btn add-to-cart-btn " data-index="{{p.id}}" id="add-to-cart-btn"><i class="fa fa-shopping-cart"></i></button></li>
                                    </ul>
                                </div>
                                
                                <!-- Product Info -->
                                <div class="card-body p-3">
                                    <p class="text-muted small">{{ p.Category }}</p>
                                    <h5><a href="{% url 'core:product-cart' %}" class="text-dark">{{ p.title }}</a></h5>
                                    <div class="d-flex align-items-center">
                                        <!-- Rating -->
                                        <div class="product__details__rating me-2">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star-half-o text-warning"></i>
                                        </div>
                                        <span>(18 reviews)</span> 
                                    </div>
                                    <p class="small text-muted">{{ p.vendor }}</p>
                                    <div class="d-flex justify-content-center align-items-center gap-2">
                                        <del>Ksh {{ p.old_price }}</del>
                                        <div class="product-price">
                                            <span class="product__item__price ">Ksh</span><span class="current-product-price-{{p.id}}">{{ p.price }}</span>
                                        </div>
                                        <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            

                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}