{% extends 'partials/base.html' %}
{% load static %}
{% block title %} <title>Product List</title> {% endblock %}
{% block content %}
<!-- Product List Page -->

<div class="container mt-5">
    <h1 class="text-center mb-4">Product List</h1>

    <!-- Product Table -->
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Product Table</h5>
        </div>
        <div class="card-body">
            <div class="mb-3 text-end">
                <a href="{% url 'core:add-product' %}" class="btn btn-success">Add New Product</a>
            </div>

            <!-- Table -->
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Product Title</th>
                        <th>Category</th>
                        <th>Price (Ksh)</th>
                        <th>Stock Count</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>{{ product.category }}</td>
                        <td>Ksh {{ product.price }}</td>
                        <td>{{ product.stock_count }}</td>
                        <td>{{ product.get_product_status_display }}</td>
                        <td>
                            <a href="{% url 'core:edit-product' product.id %}" class="btn btn-success btn-sm">Edit</a> |
                            <a href="{% url 'core:delete-product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
