
<div class="filtered-product">
    {% for p in product %}
        <div class="col-lg-3">
            <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg rounded-sm position-relative" data-setbg="{{p.image.url}}">
                
                    <div class="position-absolute top-0 start-0 bg-danger text-white py-1 px-2 fw-bold rounded-pill">
                        <span>-{{ p.get_percentage|floatformat:0}}%</span>
                    </div>
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__discount__item__text">
                    <div>
                    <span class =" font-small text-muted">{{ p.Category }}</span>
                </div>
                    <h5><a href="{% url 'core:product-details' p.pid %}">{{ p.title }}</a></h5>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div>
                    <span class =" font-small text-muted">{{ p.vendor }}</span>
                    </div>
                    <div class="product__item__price current-product-price">Ksh{{ p.price }} </div>
                    <div class="product__item__price"><span>Ksh{{ p.old_price }}</span></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>